<form action="/add_bookmark" method="post">
  <label>Enter Bookmark
    <input type="text" name="title">
    <input type="text" name="url">
    <input type="submit" name="Enter bookmark">
  </label>
</form>


<h2><center>
  <a href="/bookmarks">Please click to view bookmarks!</a>
</center></h2>
